.container {
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color:grey;
}

.item {
    padding: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}


.item-1 {
    flex: 2;
    order: 2;
    background-color: #1dedca;
}

.item-2 {
    flex: 1;
    order: 1;
    background-color: #6bc5ff;
}

.item-3 {
    flex: 2;
    order: 3;
    background-color: #6bff95;
}

.item-4 {
    flex: 1;
    order: 4;
    background-color: #ff626b;
}

.item-5 {
    flex: 2;
    order: 5;
    background-color: #b06bff;
}